{% extends 'base.html.twig' %}

{% block body %}

    <h1>{{provider.name}}</h1>
    <p>{% if provider.description is defined %}{{provider.description}}{% endif %}</p>

    {% include 'articles.html.twig' with {'articles': articles} %}

{% endblock %}
