<div id="sidebar">

    <header id="logo">
      <a href="/">
        <img src="/img/karl.png" />
      </a>
    </header>

    <ul>
      <li>
        <a href="#">
          Articles
        </a>
      </li>
      <li>
        <a href="#">
          Videos
        </a>
      </li>
      <li>
        <a href="#">
          Humour
        </a>
      </li>
      <li>
        <a href="#">
          -
        </a>
      </li>
      <li>
        <a href="#">
          Humour
        </a>
      </li>
    </ul>

    <footer>
      <p>
        <a href="#">Faq</a> / <a href="#">Contact</a>
      </p>
    </footer>


</div>
