<div id="sidebar">

    <header>
      <a href="/">Logo</a>
    </header>

    <ul>
      <li>
        <a href="#">
          Articles
        </a>
      </li>
      <li>
        <a href="#">
          Videos
        </a>
      </li>
      <li>
        <a href="#">
          Humour
        </a>
      </li>
      <li>
        <a href="#">
          -
        </a>
      </li>
      <li>
        <a href="#">
          Humour
        </a>
      </li>

    </ul>


</div>
